<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static 'css/complete_profile.css' %}">
</head>
<body>
<div class="main">
    <div class="heading">
        <h1>Change Name</h1>
    </div>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.first_name.label }}</p>
            <p>{{ form.first_name }}</p>

            <p>{{ form.last_name.label }}</p>
            <p>{{ form.last_name }}</p>

            <img class="image" src="{{request.user.profile_image.url}}">
            <p>{{ form.profile_image.label }}</p>
            <p>{{ form.profile_image }}</p>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<p>{{user.email}}</p>
<p><a href="{% url 'user' %}">Cancel</a></p>
<a href="{% url 'logout' %}">Logout</a>
</body>
</html>