<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static 'css/complete_profile.css' %}">
</head>
<body>
<div class="main">
    <div class="heading">
        <h1>Complete Your Profile</h1>
    </div>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.first_name.label }}</p>
            <p>{{ form.first_name }}</p>

            <p>{{ form.last_name.label }}</p>
            <p>{{ form.last_name }}</p>

            <p>{{ form.country.label }}</p>
            <p>{{ form.country }}</p>

            <p>{{ form.bio.label }}</p>
            <p>{{ form.bio }}</p>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<p>{{user.email}}</p>
<a href="{% url 'logout' %}">Logout</a>
</body>
</html>