{% include "unnamed/base.html" %}


{% load static %}
{% block navbar%}
{% include 'unnamed/navbar.html' %}
{% endblock %}

<div class="zz">
	<div class="inside_container">
		<form method="POST" action="">
			{% csrf_token %}
			<label for="email">Email:</label><br>
			<input type="text" id="email" name="email"><br>
  			<label for="password">Password:</label><br>
  			<input type="password" id="password" name="password"><br>
			<button type="submit" class="lgn-btn">Login</button>
		</form>

	</div>
</div>